@model EmployeeManagementSystem.Models.PaymentRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaymentRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxYear.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractualHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractualHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OvertimeHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OvertimeHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHoursWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHoursWorked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractualEarnings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractualEarnings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OvertimeEarnings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OvertimeEarnings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEarnings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalEarnings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDeduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDeduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedByID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
