@model EmployeeManagementSystem.Models.PaymentRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Payment Details</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <table  class="table table-bordered table-striped">
            <tr >
                <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Employee.FullName)
                </td>
                <th>
                        @Html.DisplayNameFor(model => model.PayDate)
                </th>
                <td>
                        @Html.DisplayFor(model => model.PayDate)
                </td>

           </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TaxYear)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TaxYear.Year)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.ContractualHours)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ContractualHours)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OvertimeHours)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.OvertimeHours)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalHoursWorked)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TotalHoursWorked)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ContractualEarnings)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ContractualEarnings)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.OvertimeEarnings)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.OvertimeEarnings)
                    </td>
                </tr>
                <tr>
                     <th>
                        @Html.DisplayNameFor(model => model.TaxRate)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TaxRate)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.NIC)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.NIC)
                    </td>
                   

                </tr>
                <tr>
                     <th>
                        @Html.DisplayNameFor(model => model.TotalEarnings)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TotalEarnings)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalDeduction)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TotalDeduction)
                    </td>
                   

                </tr
                 <tr>
                      <th>
                        @Html.DisplayNameFor(model => model.NetPayment)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.NetPayment)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedById)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CreatedById)
                    </td>
                    

                </tr>
                 <tr>
                     <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedByID)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ModifiedByID)
                    </td>
                    

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </td>
                   
                </tr>
                
           </table>
        </div>
          
    </div>
    <a asp-action="Index">Back to List</a>
</div>

